In [2]:
import pickle
with open("label_encoder_gender.pkl","rb") as file:
    gender_econder=pickle.load(file)

In [3]:
with open("one_hot_encoder_geo.pkl", 'rb') as file:
    geo_encoder=pickle.load(file)

In [20]:
with open("scaler.pkl",'rb') as file:
    scaler= pickle.load(file)

In [ ]:
input={
  "CreditScore": 619,
  "Geography": "France",
  "Gender": "Female",
  "Age": 42,
  "Tenure": 2,
  "Balance": 0.00,
  "NumOfProducts": 1,
  "HasCrCard": 1,
  "IsActiveMember": 1,
  "EstimatedSalary": 101348.88,
}

In [12]:
import pandas as pd
input_df=pd.DataFrame([input])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,[0],42,2,0.0,1,1,1,101348.88

In [ ]:
input["Gender"]=gender_econder.transform([input["Gender"]])

In [13]:
input_df["Gender"]=input_df["Gender"][0]
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.0,1,1,1,101348.88

In [14]:
geoGraphy_val = geo_encoder.transform([input_df["Geography"]],).toarray()
geoGraphy_val

/Users/umair/Ai_projects/.venv/lib/python3.12/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [15]:

geo_dataFrame = pd.DataFrame(
    geoGraphy_val,
    columns=geo_encoder.get_feature_names_out(["Geography"])
)
geo_dataFrame

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [18]:

# input_df=pd.concat([ input_df.drop("Geography",axis=1), geo_dataFrame],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.0,1,1,1,101348.88,1.0,0.0,0.0

In [21]:
scaled_input = scaler.transform(input_df)

In [22]:
from tensorflow.keras.models import load_model
loadModel=load_model("model.h5")

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [ ]:
predictions=loadModel.predict(scaled_input)
predictions=predictions[0]

pred_prob = predictions[0]  # your float32 probability
pred_label = int(pred_prob > 0.5)  # 0 or 1 thresholding
label=""
if(pred_prob > 0.5):
    print("This custome is likely to churn")
else:
    print("This custome will not like to churn")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step
This custome is likely to churn